.page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
  }
  
  .form-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .add-doctor-form input,
  .add-doctor-form select,
  .add-doctor-form button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
  }
  
  .add-doctor-form button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
  
  .add-doctor-form button:hover {
    background-color: #0056b3;
  }
  
  .add-doctor-form div {
    display: flex;
    gap: 10px;
  }
  
  .add-doctor-form div input[type="number"] {
    -moz-appearance: textfield;
  }
  
  .add-doctor-form div input::-webkit-outer-spin-button,
  .add-doctor-form div input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  .add-doctor-form div input[type="date"] {
    padding: 9px;
  }
  
  .add-doctor-form div input[type="password"] {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  .add-doctor-form div select {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .add-doctor-form div input:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  
  .add-doctor-form div input:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  .add-doctor-form div select {
    padding: 10px;
  }
  
  .add-doctor-form div button {
    align-self: center;
    padding: 10px 20px;
  }
  
  .first-wrapper {
    display: flex;
    justify-content: space-between;
  }
  
  .first-wrapper div:first-child {
    flex-basis: 30%;
  }
  
  .first-wrapper div:last-child {
    flex-basis: 65%;
  }
  
  .first-wrapper div:last-child input {
    width: 100%;
  }
  